<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>todoアプリ</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Armata&display=swap" rel="stylesheet">

</head>

<body>
<div id="top">
  <div class="container">
    <div class="title">
      <h1>Todo List</h1>
      <h2>Feat. 乙女ゲーム</h2>
    </div>
    <div class="login-button">
      <a class="login" href="/sign_in">ログイン</a>
      <a class="login" href="/sign_up">新規登録</a>
    </div>
  </div>
</div>
</body>